$screen-height: calc(var(--vh, 1vh) * 100);

.favoritesContainer {
    background-color: white;
    min-height: calc(#{$screen-height} - 60px);
    max-width: 1320px;
    margin: 0 auto;
}

.noFav {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favoritesHome {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #032541;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        p {
            font-size: 28px;
            font-weight: 600;
        }
    }
    &__type {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        margin-bottom: 30px;
        p {
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            border-bottom: 3px solid white;
            padding: 0 10px;
            &:hover {
                border-bottom: 3px solid #1a527d;
            }
        }
        .activeType {
            border-bottom: 3px solid #1a527d;
        }
    }
}

.favoritesCatalog {
    display: grid;
    gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    margin: 0 20px 50px 20px;
}

.favoriteCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    &__img {
        img {
            width: 248px;
        }
    }

    &__info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 132px;
        &--title {
            font-size: 21px;
            font-weight: 600;
        }
        &--duration {
            font-size: 16px;
            font-weight: 400;
            color: #8a8787;
            margin-bottom: 10px;
        }
        &--info {
            display: flex;
            justify-content: space-between;
            align-items: end;
            p {
                font-size: 16px;
                font-weight: 600;
                color: #032541;
                span {
                    color: #8a8787;
                }
            }
            svg {
                color: #8a8787;
                cursor: pointer;
                &:hover {
                    transition-duration: 300ms;
                    color: red;
                }
            }
        }
    }
}

.noImageDivFavorite {
    width: 248px;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
}
