.actorsContainer {
    padding: 40px 20px 40px 20px;
    background-color: white;
    ul {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    h2 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.actorCard {
    width: 150px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: black;
    display: flex;
    flex-direction: column;

    img {
        width: 150px;
    }
    &__info {
        padding: 7px;
        &--name {
            font-size: 16px;
            font-weight: 700;
        }
        &--character {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.noImageDivActor {
    background-color: #dbdbdb;
    height: 225px;
    img {
        height: 225px;
        transform: scale(0.5);
    }
}

.actorsUl::-webkit-scrollbar {
    width: 100px;
}

.actorsUl::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.actorsUl::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
}

.actorsUl::-webkit-scrollbar-thumb:hover {
    background-color: #a3a3a3;
}
