.container-movieDetail {
    background-color: #602219;
    color: white;
    max-width: 1000px;
}

.div1 {
    display: flex;

    p {
        font-size: 35px;
        font-weight: 700;
        span {
            font-weight: 400;
            opacity: 0.8;
        }
    }
}

.div2 {
    display: flex;
    font-size: 16px;
    font-weight: 400;
}

.div3 {
.resumen {
    font-size: 21px;
    font-weight: 600;
}
.resumen2 {
    font-size: 16px;
    font-weight: 400;
}
}
