/* .container-popular-top {
    display: flex;
    align-items: flex-start;
    width: 91%;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
}

.container-movies-search,
.container-movies {
    display: grid;
    gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
    justify-items: center;
}

.container-movies-search {
    width: 100% !important;
}

.container-movies {
    width: 70% !important;
    padding-bottom: 30px;
}

@media (max-width: 810px) {
    .container-popular-top {
        flex-direction: column;
    }
    .container-movies {
        width: 100% !important;
    }
}

@media (max-width: 440px) {
    .container-movies,
    .container-movies-search {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 10px;
    }
} */

.container-popular {
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
    h1 {
    }
}
.container-movies-filter {
    display: flex;
    margin-top: 30px;
}
.container-filter {
    margin-right: 20px;
}

.container-movies-button {
    width: 100%;
}
.container-movies {
    display: grid;
    gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
}

.buttonMore {
    text-align: center;
    background-color: #032541;
    color: white;
    max-width: 600px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    margin: 20px auto;
    margin-top: 40px;
    cursor: pointer;
    line-height: 50px;
    border-radius: 10px;
    &:hover {
        background-color: #034073;
    }
}

.container-searchpage {
    margin: 30px 0;
}

.container-movies-search  {
    display: grid;
    gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
}
