//POPULAR PAGE
.container-popular {
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
}

.container-movies-filter {
    display: flex;
    margin-top: 30px;
}

.container-filter {
    margin-right: 20px;
}

.container-movies-more {
    width: 100%;
}
.container-movies {
    display: grid;
    gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
}
.buttonMore {
    text-align: center;
    background-color: #032541;
    color: white;
    max-width: 600px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    margin: 20px auto;
    margin-top: 40px;
    cursor: pointer;
    line-height: 50px;
    border-radius: 10px;
    &:hover {
        background-color: #034073;
    }
}

.title-page {
    color: black;
    font-size: 30px;
    font-weight: 600;
}
//SEARCH PAGE
.container-searchpage {
    padding-top: 20px;
}

.container-movies-search {
    display: grid;
    gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
    justify-items: center;
    margin: 0 10px;
}

.title-page-search {
    color: black;
    font-size: 30px;
    font-weight: 600;
    padding-left: 35px;
    padding-bottom: 30px;
}

@media (max-width: 930px) {
    .title-page-search {
        margin-top: 30px;
    }
}

@media (max-width: 540px) {
    .container-movies-filter {
        flex-direction: column;
    }
    .container-filter {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 440px) {
    .container-movies {
        gap: 10px 0;
        grid-template-columns: repeat(auto-fill, 150px);
        justify-content: space-evenly;
    }
    .container-movies-search {
        gap: 10px 5px;
        grid-template-columns: repeat(auto-fill, 150px);
        justify-content: space-evenly;
    }
}
