$screen-height: calc(var(--vh, 1vh) * 100);

.LoginPage {
    background-color: #f3f3f3;
    cursor: default;
    min-height: calc(#{$screen-height} - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginPage2 {
    padding: 50px 90px;
    margin: 20px 0;
    max-width: 550px;
    background-color: #fff;
    border: 1px solid #efeded;
    border-radius: 7px;
}

.container__login {
    margin: 0 auto;
    h3 {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 30px;
    }
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 30px;
    .btnLogin {
        width: 165px;
        border-radius: 7px;
        border: 1px solid #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
    }
    &__google {
        background-color: white;
        color: rgb(70, 70, 70);
        cursor: pointer;
        svg {
            font-size: 20px;
            margin-right: 5px;
        }
    }
    &__facebook {
        background-color: #415992;
        color: white;
        cursor: pointer;
        svg {
            font-size: 17px;
            margin-right: 5px;
        }
    }
}

.inputLoginPage {
    p {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        cursor: default;
        span {
            font-size: 13px;
            color: #7d7d7d;
            border-bottom: 1px solid #b5b4b4;
            cursor: pointer;
            margin-left: 3px;
        }
    }
    input {
        border-radius: 7px;
        border: 1px solid #efefef;
        background-color: #f7f7f7;
        height: 40px;
        width: 350px;
        margin-bottom: 20px;
        outline: none;
        padding: 0 10px;
        font-size: 15px;

        &:focus {
            border: 1px solid #cacaca;
        }
    }

    .btnSubmit {
        background-color: #333333;
        color: white;
        height: 40px;
        cursor: pointer;
        margin-bottom: 30px;
    }
}

.loginWith {
    color: #626262;
    margin-bottom: 10px;
}
.registerNow {
    font-size: 16px;
    color: #626262;
    cursor: pointer;
    span {
        border-bottom: 1px solid #b5b4b4;
        padding-bottom: 1px;
    }
}
.divnamesurname {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ilp2 {
        input {
            width: 160px;
        }
    }
}

.eyeIcon {
    color: #6a7171;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    &:hover {
        color: #989b9b;
    }

}

.eyeDiv {
    display: flex;
    
}
.eyeDiv2 {
    position: absolute;
    margin-left: 325px;
    margin-top: 11px;
}

@media (max-width: 540px) {
    .LoginPage {
        background-color: #fff;
        height: calc(#{$screen-height} - 120px);
    }

    .LoginPage2 {
        padding: 0;
        border: none;
    }
}
