.search-mobile{
    position: relative;
    display: inline-block;
    width: 100%;

    .search-input {
        width: 100%;
        height: 50px;
        border: 2px solid #f6f6f6;
        background-color: #f6f6f6;
        font-size: 16px;
        padding: 10px 35px;
        outline: none;

    }

    .search-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: gray;
    }
}
