.containerHome {
    margin-top: 40px;
}

.containerlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 90%;
    margin: 0 auto;
    .slick-list {
        padding: 10px 0 !important;
    }
}

.home__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 89%;
    margin-bottom: 10px;
    h2 {
        color: #032541;
        font-size: 25px;
        font-weight: 600;
        border-bottom: 4px solid #032541;
    }
    a {
        font-size: 20px;
        font-weight: 400;
        color: #8a8787;
        cursor: pointer;
    }
}

.cardhome {
    width: 150px;
    min-height: 322px;
    transition: transform 0.2s ease;
    cursor: pointer;
    margin: 0 auto;

    &:hover {
        transform: scale(1.05);
    }
    &__info {
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: black;
        }

        p {
            padding-top: 0px;
            font-size: 16px;
            font-weight: 400;
            color: #8a8787;
        }
    }
    &__img {
        margin-bottom: 10px;
        img {
            width: 150px;
            height: 225px;
            border-radius: 10px;
        }
    }
}

.slick-prev,
.slick-next {
    top: 35%;
    z-index: 1;
    height: 50px;
    width: 50px;
}
.slick-prev {
    left: -25px;
}
.slick-next {
    right: -33px;
}

.slick-next:before,
.slick-prev::before {
    color: #032541;
    font-size: 50px !important;
}

@media (max-width: 1045px) {
    .slick-prev {
        left: -32px;
    }
    .slick-next {
        right: -35px;
    }
}
@media (max-width: 680px) {
    .slick-prev {
        left: -20px;
    }
    .slick-next {
        right: -20px;
    }
}
@media (max-width: 410px) {
    .slick-prev {
        left: -15px;
    }
    .slick-next {
        right: -15px;
    }
}
