.divdiv {
    display: flex;
    justify-content: center;
}

.container-people {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.people-card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 230px;
}

.people-image {
    overflow: hidden;
    height: 250px;
    img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

}

.people-name {
    padding: 10px 10px 10px 10px;
    p {
        font-size: 18px;
        font-weight: 600;
    }
}
