.container-topmovies {
    background: #1d2c4d;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    .topmovies-title {
        background-color: #021e34;
        color: #74a2c4;
        font-size: 18px;
        font-weight: 600;
        margin: 15px 0;
        padding: 5px 0;
        text-align: center;
    }

    .topmovie__card {
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 0 20px;
        .topmovie__image {
            img {
                width: 110px;
                border-radius: 5px;
                margin-right: 10px;
            }
        }
        .topmovie__info {
            .title {
                color: white;
            }
            .date {
                color: #8da0bc;
            }
            .vote {
                color: #edb709;
            }
        }
    }
}

@media (max-width: 810px) {
    .container-topmovies {
        margin: 0 auto;
        margin-top: 30px;
        min-width: 80%;
    }
}
