.navbarMobile {
    background-color: #032541;
    font-weight: 600;
    position: fixed;
    width: 100%;
    z-index: 1;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        padding: 0 20px;

        .logo {
            display: flex;
            color: #27bad3;
            align-items: center;
            .icon {
                padding-right: 5px;
                display: flex;
                font-size: 40px;
            }
            p {
                font-size: 30px;
            }
        }
    }
    .menu {
        color: white;
        display: flex;
        flex-direction: row;

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
        }
        .title-icon {
            margin-right: 20px;
        }
        &__icon {
            margin-right: 4px;
        }
        &__homeIcon {
            font-size: 30px;
        }
        &__movieIcon {
            font-size: 26px;
        }
        &__tvIcon {
            font-size: 26px;
        }
        &__searchIcon {
            font-size: 26px;
        }
    }
    .menu-icon {
        .bars-icon {
            font-size: 25px;
            color: white;
            cursor: pointer;
        }
    }
    .user-icon {
        background-color: rgb(74, 158, 199);
        width: 35px;
        height: 35px;
        border-radius: 100px;
    }
    .login-button {
        cursor: pointer;
        width: 90px;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
        background-color: #03d1ff67;
        color: white;
        border: none;
        border-radius: 50px;
        transition-duration: 0.1s;

        &:hover {
            background-color: #03d1ffb3;
        }
    }
}

.divSearch {
    background-color: rgb(222, 222, 222);
    position: fixed;
    top: 0;
    transition: 0.4s ease-in-out;
    width: 100%;
    height: 30px;
    z-index: -1;

    &.show {
        top: 60px;
    }
}

@media (max-width: 930px) {
    .navbarMobile {
        .container {
            .logo {
                .icon {
                    font-size: 30px;
                }
                p {
                    font-size: 23px;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .navbarMobile {
        .container {
            padding: 0 10px;
        }

        .menu {
            p {
                display: none;
            }
            &__icon {
                margin-right: 13px;
            }
            &__searchIcon {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 450px) {
    .navbarMobile {
        .login-button {
            width: 60px;
            height: 30px;
            font-size: 14px;
        }
    }
}
