header {
    padding-bottom: 60px;
}
.navbar {
    background-color: #032541;
    font-weight: 600;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-bottom: 60px;
    .container {
        margin: 0 auto;
        max-width: 1320px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;

        .logo {
            display: flex;
            color: #27bad3;
            align-items: center;
            .icon {
                padding-right: 5px;
                display: flex;
                font-size: 40px;
            }
            p {
                font-size: 30px;
            }
        }

        .menu {
            display: flex;
            gap: 30px;
            color: white;
            a {
                position: relative;

                &:after {
                    bottom: -4px;
                    content: '';
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
                &:hover:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
        .user-icon {
            background-color: rgb(74, 158, 199);
            width: 35px;
            height: 35px;
            border-radius: 100px;
        }

        .login-button {
            cursor: pointer;
            width: 90px;
            height: 40px;
            font-size: 16px;
            font-weight: 600;
            background-color: #03d1ff67;
            color: white;
            border: none;
            border-radius: 50px;
            transition-duration: 0.1s;

            &:hover {
                background-color: #03d1ffb3;
            }
        }
    }
}
